@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #efdcb18a;
    /* background-color: #f5e3b1; */
    /* background-color: #fffbe7; */
    /* background-image: url("https://transparenttextures.com/patterns/cream-paper.png"); */
    /* background-image: url("https://transparenttextures.com/patterns/white-brushed.png"); */
}

h2 {
  font-family: 'Ovo', serif;
  font-color: 'white'
}

h1 {
    /* font-family: 'Prata', serif; */
    font-size: 1.875rem;
    font-color: 'white'
}

p {
  font-family: 'Ovo', serif;
  font-color: 'white';
  /* line-height: 1.6; */
}

b {
  font-family: 'Ovo', serif;
  font-color: 'white';
  font-weight: 900;
  font-size: 1.05rem;
}

h3 {
  font-family: 'Ovo', serif;
  font-color: 'white';
  font-size: 1.5rem;
  margin: 1rem 0;
}

h4 {
  font-family: 'Ovo', serif;
  font-color: 'white';
  font-size: 1.25rem;
  margin: 1rem 0;
}

ul {
  font-family: 'Ovo', serif;
  font-color: 'white'
}

li {
  font-family: 'Ovo', serif;
  font-color: 'white'
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Target Firefox */
* {
  scrollbar-color: transparent transparent; /* thumb and track color */
}

/* Target Internet Explorer and Edge */
*::-ms-scrollbar-track {
  background: transparent;
}